body {
    background: #efeff4;
}

a { color: #4183c4; text-decoration: none; }
a:hover { text-decoration: underline; }

.interactive {
    transition:.6s;
    position: relative;
    display: flex;
    box-sizing: border-box;
    margin-bottom: .5rem;
    margin-right: .5rem;
    height: 200px;
    width: 100%;
    border-radius: 10px;
    background: white;
}

.interactive:hover{
    background-color: #d9ebff;
} 

.interactive:active {
    background-color: #d1d2df;
}

.shadow {
    box-shadow: 0px 0px 10px rgb(196, 196, 196);
}

.button {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-style: none;
    border-color: white;
    background-color: white;
}
